.has-bg-img {
	background-image: url('../header.png');
	background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.has-404-img {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../You-have-Ded.png');
	background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.is-translucent-dark {
	background: rgba(40,40,40,0.55) !important;
}
.is-minecraft {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../backdrop.png");
	padding-left: 300px;
	padding-right: 300px;
	padding-top: 8px;
	height: 76px;

}
.is-minecraft:hover {
	background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../backdrop.png");
	color: #b3b3b3 !important;
}
.card-header-title {
	color: #000000;
}
.card-content {
    list-style-type: none;
}

.card-wrapper {
	padding-bottom: 22px;
	width: 260px;
}
.has-overlap {
position: relative;
bottom: 86px;
}
.box-single-post {
	padding: 20px;
	font-size: 1.4rem;
}
.is-250px {
	width: 250px;
	height: 250px;
	overflow: hidden;
}
.has-no-decoration {
	text-decoration: none;
}

.is-340px {
	width: 340px;
}